/* UNDER LG BREAKPOINT */
/* GENERAL */
* {
   box-sizing: border-box;
   margin: 0;
   padding: 0;
}

Body {
   max-height: 100vh;
   font-family: lato;
   background-color: rgb(253, 255, 240);
   overflow-x: hidden;
}

/* HEADER */
header {
   height: 75px;
   display: flex;
   justify-content: center;
   align-items: center;
   text-align: center;
}

h1 {
   font-size: 2rem;
   text-shadow: 3px 3px rgb(128, 128, 128);
   animation-name: zoomInDown;
   animation-fill-mode: both;
   animation-duration: 2s;
}

@keyframes zoomInDown {
   0% {
      opacity: 0;
      transform: scale3d(0.1, 0.1, 0.1) translate3d(0, -1000px, 0);
      animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
   }

   60% {
      opacity: 1;
      transform: scale3d(0.475, 0.475, 0.475) translate3d(0, 60px, 0);
      animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1);
   }
}

/* NAVBAR */
nav {
   display: flex;
   justify-content: center;
   align-items: center;
   text-align: center;
   height: 100px;
   font-size: 1rem;
}

/* RULES MODAL */
h5 {
font-weight: bold;
}

nav .modal-content {
   background-color: rgb(253, 255, 240);
}

nav .modal-body p {
   text-align: justify;
   color: rgb(0, 0, 0);

}

nav button {
   width: 150px;
   height: auto;
   box-shadow: 0 0 10px rgb(128, 128, 128);
}

input {
   box-shadow: 0 2px 3px rgb(128, 128, 128);
}

/* MAIN */
main {
   display: flex;
   justify-content: center;
}

#player-0,
#player-1 {
   font-size: 1.5rem;
   font-style: italic;
}

.cardPlayer1,
.cardPlayer2 {
   text-align: center;
   background-color: rgb(253, 255, 240);
   transition: 1s ease-in-out;
   opacity: 0.1;
}

.visible {
   box-shadow: 0 0px 20px rgb(128, 128, 128);
   transition: 1s ease-in-out;
   opacity: 1;
}

.diceBoard {
   box-shadow: none;
   background-color: rgb(253, 255, 240);
}

.card-header {
   color: rgb(253, 255, 240);
}

.diceBoard .card-body {
   display: flex;
   justify-content: center;
   align-items: center;
   text-align: center;
}

main .card-body p:first-child,
main .card-body p:nth-child(3) {
   font-size: 0.9rem;
   color: rgb(253, 255, 240);
   margin: 10px;
   padding: 10px;
}

#stotal-0,
#current-0,
#total-1,
#current-1 {
   font-size: 1rem;
   font-weight: bold;
}

/* DICE */
#dice {
   width: 75px;
   height: auto;
}

.hidden {
   visibility: hidden;
}

#holdBtn,
#throwBtn {
   width: 125px;
   box-shadow: 0 0 10px rgb(128, 128, 128);
}

/* FOOTER */
footer {
   position: relative;
   top: 60px;
   height: 25px;
   display: flex;
   justify-content: center;
   align-items: center;
   text-align: center;
}

/* AT LG BREACKPOINT */
@media screen and (min-width: 992px) {

   /* HEADER */
   header {
      background-image: url("assests/images/headerdice.jpg");
      background-size: 100% 100%;
      background-repeat: no-repeat;
      height: 450px;
      box-shadow: 0 5px 10px rgb(128, 128, 128);
      text-align: left;
   }

   h1 {
      font-size: 3rem;
      margin-left: 150px;
   }

   /* NAVBAR */
   nav {
      height: 150px;
      font-size: 1.2rem;
   }

   nav .modal-body p {
      text-align: justify;
      color: rgb(0, 0, 0);

   }

   /* MAIN */
   #player-0,
   #player-1 {
      font-size: 2rem;
   }

   main .card-body p:first-child,
   main .card-body p:nth-child(3) {
      margin: 15px;
   }

   #total-0,
   #current-0,
   #total-1,
   #current-1 {
      font-size: 1.5rem;
      font-weight: bold;
   }

   /* DICE */
   #dice {
      width: 125px;
      height: auto;
   }

   /* FOOTER */
   footer {
      top: 75px;
      height: 75px;
   }
}